body {
    background-color: #F8F9FA;
    padding:0;
    margin:0;
}
table {
    width: 100%;
}
tr {
    height: 10px;
}
th {
    width: 50%;
    text-align: left;
}
td {
    text-align: right;
}
#cabecalho {
    background-color: #162E58;
    height: 128px;
    padding:0;
    margin:0;
}
.titulo1 {
    color: white;
    padding-left: 16px;
    padding-top: 16px;
}
.botoescabecalho { 
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}
.textobotao {
    margin-left: 20px;
    color: white;
}
.linha {
    background-color: white;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    border-style: none;
}
#divprincipal { 
    max-width: 60%; 
    margin: auto;  
    background:#fff;
    padding: 10px;
} 
.logos  {
    width: 35px;
    height: 35px;
    margin-top: 8px;
    margin-left: 15px;
    margin-right: 15px;
}
.ultimas5 {
    margin-left: 4px;
}
.divultimas5 {
    justify-content: center;
    display: flex;
}
.jogos {
    width: 50%;
}
.divlinha {
    clear: both;
}
.logojogadores {
    height: 22px;
    width: 22px;
}
td, th{
    border-bottom: 1px solid rgba(218, 215, 213, 0.904);
}
#fasedegrupo {
    background-color: #F8F9FA;
    height: 50px;
    padding-top: 3px;
    padding-left: 3px;
}
.tdfasedegrupo {
    width: 50%;
}
.partidas {
    display: flex;
    border-style: solid;
    border-color: #d4d4d4;
    border-width: 1px;
    justify-content: space-between;
}
.resultado {
    margin-top: 33px;
}
.linharesultado {
    border-style: solid;
    border-color: #d4d4d4;
    border-width: 1px;
    height: 80%;
    margin-left: 3px;
}
.diadojogo {
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}
.logotime{
    height: 22px;
    width: 22px;
}
.nometime{
    margin-top: 5px;
    margin-left: 5px;
    color: rgb(134, 128, 132);
    font-size: 12px;
}
.jogadores{
    width: 95%;
}